.content {
    padding-left: 4px;
    padding-bottom: 2px;
}

.calendar {
    background-color: #474747;
    height: 100%;
    overflow-y: auto;
}

.calendar-info-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: rgba(4, 13, 23, 0);
}

.calendar-info-button .image {
    width: auto;
    transform: translateX(-20%) translateY(-3%);
}


.day {
    min-width: 100px;
}

.weekHeader {
    border-bottom: 3px solid #1e1e1e;
    border-top: 3px solid #1e1e1e;
}

.time {
    border-left: 2px solid #1e1e1e;
    border-right: 2px solid #1e1e1e;
}

.event-window {
    padding: 0 4px 0 0;
    height: 100px;
    overflow: hidden;
}

.overflow-card {
    width: 20%;
    text-align: center;
}

.event-card-container {
    padding-top: 2px;
    padding-bottom: 2px;
}